@media screen and (min-width: 600px) {
  .form-container {
    width: 450px;
  }
}
@media screen and (max-width: 599px) {
  .form-container {
    width: 80%;
  }
}
.form-container {
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-container .title {
  display: block;
  font-size: 30px;
  text-align: center;
}
.form-container .el-form-item.btn-content .el-form-item__content {
  display: flex;
  justify-content: space-between;
}
.form-container .el-form-item.btn-content .el-form-item__content .el-button {
  width: 45% !important;
}
